.range-filter {
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: 30px 1fr 16px 30px 1fr;
}

.start-label {
  grid-area: 1 / 1 / 2 / 2;
}

.start-input {
  grid-area: 1 / 2 / 2 / 3;
}

.finish-label {
  grid-area: 1 / 4 / 2 / 5;
}

.finish-input {
  grid-area: 1 / 5 / 2 / 6;
}

.filter__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #323c48;
}

.filter__label:active,
.filter__label:hover,
.filter__label:focus {
  outline: none;
  cursor: pointer;
}
