.category {
  padding: 8px 16px;
  margin: 0 16px 0 0;
  border-radius: 15px;
  font-size: 14px;
  line-height: 14px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #7e8fa4;
  color: #7e8fa4;
  outline: none;
  font-family: "OpenSans";
  text-transform: capitalize;
  text-decoration: none;
}

.category.checked {
  background: #323c48;
  color: #ffffff;
  border: 1px solid#323C48;
}

.category:hover,
.category:active {
  cursor: pointer;
}
